.input {
  font: inherit;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.4rem;

  &:hover,
  :focus {
    border: 2px solid #ced4da;
  }
}

.country-list {
  font-size: 25px;
  margin-bottom: 20px;
  padding-left: 70px;
}

.title {
  text-align: center;
}

.languages {
  display: flex;
  align-items: center;
}

.languages-list {
  font-size: 14px;
  font-style: italic;
}

.description-title {
  margin-right: 50px;
}

.description-subtitle {
  display: inline-block;
}

.container {
  display: flex;

  width: 40%;
  min-height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 1rem;
}

.description,
.gallery-thumb {
  width: 50%;
  padding: 20px;
}

.js-list {
  margin-top: 150px;
}

.earth {
  position: absolute;
  top: 150px;
  right: 50px;

  background-image: url('../images/44996.png');
  background-size: cover;
  width: 400px;
  height: 400px;
}
