<h1>Countri</h1>
<div class="container">

   <div class="description">
      <p><b>Capital: </b>fvdwfvwrgv </p>
      <p><b>Population:</b> revev</p>
      <p><b>Languages:</b> rverver</p>
      <ul>
         <li>svdsvs</li>
         <li>sdvsdvs</li>
         <li>svdsdvs</li>

      </ul>
   </div>

   <div class='gallery__thumb'>
      <img src='https://wikiway.com/upload/iblock/742/800pxFlagofAustraliasvg.png' alt='Флаг ' width='250' />
   </div>
</div>